@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource-variable/inter';
@import '@fontsource/dm-sans/700.css';

a,
button {
	-webkit-tap-highlight-color: transparent;
}

/* This applies to all scrollable elements */
::-webkit-scrollbar {
	width: 6px; /* For vertical scrollbars */
	height: 6px; /* For horizontal scrollbars */
}

/* Track */
::-webkit-scrollbar-track {
	background: #060d1c;
	margin-right: 6px;
	margin-left: 6px;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #9a9cf0;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #6254de;
}
